@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document domain("vk.com") {
body {
  background: url("http://img3.wikia.nocookie.net/__cb20130930063640/steamtradingcards/images/f/f4/Magicka_Background_Dungeons.jpg") fixed;
  color: #ccc !important;
}
* {
  border:none !important;
  background-color:transparent !important;
  color: #eee !important;
  font-family: sans-serif;
}
#page_header * {
  background: none !important;
  background-color: transparent !important;
}
#page_header{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #333 !important;
  box-shadow: 0 0 10px 5px #333;
  color: #eee !important;
  border: 1px #222 solid !important;
}
#top_links a.top_nav_link, #top_links a.top_nav_link.over span#head_music_text,  #top_links a.top_nav_link span#head_music_text {
  color: #ccc !important;
}
#top_links a {
  color: #ddd !important;
}
#ac {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #333 !important;
  box-shadow: 0 0 10px 5px #333;
  color: #eee !important;
  height: 50px !important;
  width: 789px !important;
  margin-left: -145px !important;
  margin-top: -10px !important;
  padding-top: 10px !important;
  border: 1px #222 solid !important;
}
.top_home_link_td, .top_home_link, #top_logo_down {
  width: 0;
}
#side_bar {
  top: 90px! important;
}
#ac_play {
    background: url("https://dl.dropboxusercontent.com/u/69645064/audio_icons.png") no-repeat scroll 0 -25px rgba(0, 0, 0, 0);
}
.audio .play_new {
    background: url("https://dl.dropboxusercontent.com/u/69645064/playpause.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.audio_search .search_reset, #friends_reset_search, .video_search .video_reset_search, #im_filter_reset, #groups_reset_search, #search_query_reset {
    background: url("https://dl.dropboxusercontent.com/u/69645064/input_clear.png") no-repeat scroll 6px 6px rgba(0, 0, 0, 0);
}
.audio_search .s_search, .video_search #v_search, #friends #s_search, #im_filter, #groups_list_search, #settings_bl_search, #search_query {
    background: url("https://dl.dropboxusercontent.com/u/69645064/magglass.png") no-repeat scroll 5px 6px rgb(255, 255, 255);
}
.checkbox div, .checkbox_container table td .checkbox_on, .checkbox_container table td .checkbox_off, .checkbox_container table td .checkbox_on_over, .checkbox_container table td .checkbox_off_over {
  background: url("https://dl.dropboxusercontent.com/u/69645064/check.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 15px;
}
.checkbox_container table td .checkbox_on {
    background-position: 0 -14px;
}
.checkbox_container table td .checkbox_off_over {
    background-position: 0 -28px;
}
.checkbox_container table td .checkbox_on_over {
    background-position: 0 -42px;
}
#ac.add .info {
    width: 580px;
}
#ac.add .ac_name {
    max-width: 480px;
}
.ac_back_line {
    background-color: #333 !important;
}
.ac_load_line {
    background-color: #555 !important;
}
.ac_progress_line {
    background-color: #777 !important;
}
.tt .tt_text, .tt, .ttb, #audio_tip_wrap {
  background-color: #333 !important;
  border-radius: 10px;
  border: 1px #222 solid !important;
  box-shadow: 0 0 10px 5px #333;
}
.tt .tt_text * {
  color: #ccc !important;
}
.dd_menu_rows, .selector_table {
  
  background-color: #555 !important;
  border: 1px #333 solid !important;
}
.result_list ul * {
  border:none !important;
  padding-top: 10px !important;
  background-color: #555 !important;
  border: 1px #333 solid !important;
  padding-bottom: 3px !important;
}
.dd_menu_header {
  visibility: hidden !important;
}
#s_search {
  border: 1px #222 solid !important;
  font-weight: bold;
  color: #ccc;
}
#mv_box, .box_layout, #currinfo_editor, #pv_box {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #222 !important;
  box-shadow: 0 0 10px 5px #111;
  color: #eee !important;
  border: 1px #111 solid !important;
}
.more_div {
  border-top: 1px solid #222 !important;
}
.fc_tab_wrap, #ts_cont_wrap, #pad_cont {
  background-color: #333 !important;
}
.radiobtn div {
  background: url("https://dl.dropboxusercontent.com/u/69645064/radio.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}
